
.hero-image {
  /* The image used */
  background-image: url("hero_banner.jpg");

  /* Set a specific height */
  height: 600px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.App-intro {
  text-align: center;
}